body>div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
div>p {
    font-family: Roboto,serif;
    font-size: 18px;
}
table {
    border-spacing: 0;
    width: 100%;
}
table,th,td {
    border: solid black 1px ;
    margin: 0;
}
