<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>


    <context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <!--配置数据源-->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/demo"
                        userId="root"
                        password="123456">

        </jdbcConnection>

        <!--entity-->
        <javaModelGenerator targetPackage="com.et.security.entity"
                            targetProject="src/main/java"/>

        <!--mapper.xml-->
        <sqlMapGenerator targetPackage="mapper"
                         targetProject="src/main/resources"/>

        <!--mapper-->
        <javaClientGenerator targetPackage="com.et.security.mapper"
                             targetProject="src/main/java"
                             type="XMLMAPPER"/>

        <!--tablename  -->
        <table tableName="menu">
            <property name="modelOnly" value="false"/>
        </table>
        <table tableName="role">
            <property name="modelOnly" value="false"/>
        </table>
    </context>
</generatorConfiguration>
